body {
    font-family: sans-serif;
}
.gogo{
    width: 100px;
    margin: 0px 0px 165px 230px;
}
img{
    margin: 60px 0px 120px 60px;
    width: 300px;
}
nav{
    border: 1px solid lawngreen;
    border-radius: 13px;
    background-color: lawngreen;
    padding: 5px;
}
a{
    text-decoration: none;
    color: black;
    border: 4px solid black;
    border-radius: 20px;
    background-color: white;
    padding: 3px;
}
.go{
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 6px;
}
.jjj{
    color: blue;
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
}

.eee{
    font-size: 30px;
    width: 90px;
}

section{
    display: flex;
    justify-content: space-around;
}
